article .card{
    max-width: 1000px;
    height: 470px;
}
.bcolor{
    background:linear-gradient(90deg,rgb(250, 109, 208),rgb(250, 157, 244),rgb(255, 255, 255) );

}
.card-img-top{
    width:204px;
    height: 180px;
}
input[placeholder="Description"]{
    height: 80px;
    margin-bottom: 25px;
}
.bgcolor2{
    background:linear-gradient(90deg,rgb(250, 238, 109),rgb(250, 188, 157),rgb(215, 243, 246) );
}
