/* main styles */

article .card {
  max-width: 1000px;
  height: 470px;
}
.bcolor {
  background: linear-gradient(
    90deg,
    rgb(250, 109, 208),
    rgb(250, 157, 244),
    rgb(255, 255, 255)
  );
}
.card-img-top {
  width: 204px;
  height: 180px;
}
input[placeholder="Description"] {
  height: 80px;
  margin-bottom: 25px;
}
.bgcolor2 {
  background: linear-gradient(
    90deg,
    rgb(250, 238, 109),
    rgb(250, 188, 157),
    rgb(215, 243, 246)
  );
}

/* header styles */

header {
  height: 130px;
}

.bold {
  font-weight: bold;
  font-size: xx-large;
}

.bolds {
  font-weight: bold;
  font-size: large;
}

.flex {
  display: flex;
  justify-content: space-around;
  gap: 300px;
}

.box {
  max-width: 700px;
  border-radius: 10px;
  gap: 30px;
}

.sbox {
  margin: 10px auto;
  gap: 30px;
}

form > button {
  margin-right: 50px;
}
/* card style*/
.team-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.team-item img {
  transition: 0.5s;
  padding-left: 2vw;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
  opacity: 0;
  transition: 0.5s;
}

.team-item:hover .team-text {
  bottom: 0;
  opacity: 1;
}
.decoration{
  text-decoration: line-through;
}
/* end style card */
/*  start-footer style */
.a-style{
  color:rgb(235, 161, 161) !important;
  text-decoration: none;
  
  
}
.a-style:hover{
  font-size: large;
  font-weight: 500;
}
.back-to-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
/* end foooter style */