/* header styles */
/* navbar */
header {
  height: 150px;
}

.bold {
  font-weight: bold;
  font-size: xx-large;
}

.bolds {
  font-weight: bold;
  font-size: large;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.box {
  max-width: 700px;
  border-radius: 10px;
  gap: 30px;
}

.sbox {
  margin: 10px auto;
  gap: 30px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

/* main styles */

article .card {
  max-width: 1000px;
  height: 470px;
}
.bcolor {
  background: linear-gradient(
    90deg,
    rgb(250, 109, 208),
    rgb(250, 157, 244),
    rgb(255, 255, 255)
  );
}
.card-img-top {
  width: 204px;
  height: 180px;
}
input[placeholder="Description"] {
  height: 80px;
  margin-bottom: 25px;
}
.bgcolor2 {
  background: linear-gradient(
    90deg,
    rgb(250, 238, 109),
    rgb(250, 188, 157),
    rgb(215, 243, 246)
  );
}

@media (max-width: 1200px) {
  .box {
    max-width: 500px;
  }
  .bold {
    font-size: x-large;
  }
  .bolds {
    font-size: medium;
  }
}
